<header>
      <div class="menuContainer">
            <p class="headingTitle" >WanderPack</p>

        <nav role="navigation" class="slideOutHamburgerMenu">
            <div id="activateSideMenu">
              <input type="checkbox" />
              
              <span></span>
              <span></span>
              <span></span>
              
              <ul id="sideMenu">
                <div class="regionsMenuHeader">Regions</div>
                  <a routerLink="/" routerLinkActive="active"><li>{{pnw}}</li></a>
                  <a routerLink="/" routerLinkActive="active"><li>{{westCoast}}</li></a>
                  <a routerLink="/" routerLinkActive="active"><li>{{eastCoast}}</li></a>
                  <a routerLink="/" routerLinkActive="active"><li>{{mountains}}</li></a>
                  <a routerLink="/" routerLinkActive="active"><li>{{deserts}}</li></a>
                  <a routerLink="/" routerLinkActive="active"><li>{{praries}}</li></a>
                </ul>
            </div>
          </nav>
  
        <video class="videoContainer" class="videoContainer" autoplay="autoplay" loop="loop" controls >
            <source src="{{videoURL}}" type="video/mp4"> </video>
    </div>
  </header>

  <body>   
  <div class="navigationContainer"> 
  </div>
  <div class="userImage"> 
  <div>
  </div>
  </div>
    <div class="cardContainer">
            <div class="card">
                <p class="heroHeaderText  cardHeaderWhite">Your next adventure</p>    
        </div>

          <div id="baseFlexContainer" class="searchFlex">
              <input id="searchInput" class="searchInput" placeholder="Search..."> <li class="material-icons">explore</li>
            </div>

        <div id="baseFlexContainer" class="findFlightFlex">
            <button id="flexButton">Search Flights<li class="material-icons smallIcon"></li> </button>
          </div>
          </div>

      <div class="descriptionContainerBlack">
          <div class="card">
              <p class="cardHeaderWhite">About</p>
          </div>
      </div>

      <div class="descriptionContainerWhite">
          <div class="card">
              <p class="cardHeaderBlack">Stay Bold</p>
          </div>
      </div>

      <div class="descriptionContainerBlack">
          <div class="card">
              <p class="cardHeaderWhite">Your Adventure</p>
          </div>
      </div>
    </body>


