html, body {
overflow-x: hidden;
overflow-y: hidden;
}

#baseFlexContainer {
display: flex;   
-webkit-box-flex-direction: row;
-moz-box-flex-direction: row;
-webkit-flex-direction: row;
flex-direction: row;
height:100px;
top: -100px;
position: relative;
}

.findFlightFlex {
top: 150px !important;
left: -20px;
}

.searchFlex {
top: 210px !important;
}

#flexButton {
margin: auto;
height:200px;
width:200px;
font-family: 'Raleway', sans-serif;
border-radius: 15px !important;
background-color: transparent !important;
font-size: 20px !important;
border-color: #ffffff !important;
border-style: solid;
border-width: 1px;
color: #ffffff;
height: 50px;
text-align: center;
}

.searchInput {
font-family: 'NexaRustSans', sans-serif;
font-size: 15px;
color: #333333;
background-color: #ffffff;
text-align: center;
border-radius: 25px;
border-style: solid;
border-color: #ffffff;
position: relative;
top: -60px;
margin: auto;
height:50px;
width:300px;
}


.App {
    text-align: center;
  }
  
  .pageHeader {
    background-color: #1FC8DC;
    height: 150px;
    width: 100%;
    padding: 20px;
    color: white;
  }
  
    .menuIcon {
      color: white;
      position: relative;
      top: -200px;
      left: -40vw;
      font-size: 40px;
    }
  
    .headingTitle {
      color: #ffffff;
      font-family: 'NexaRustSans', sans-serif;
      font-size: 25px;
      text-align: center;
      width: 100vw;
      position: relative;
      margin-bottom: 5px;
      top: 50px;
      height: 100px;
    }
  
    .heroImage {
      background-image: url(/assets/img/sunset_waves.jpg);
      background-repeat: no-repeat;
      background-size: 100vw;
      position: relative;
    }

    /*--------------- Buttons --------------- */

  .largeButton {
    font-family: 'Raleway', sans-serif;
    position: relative;
    border-radius: 15px !important;
    background-color: transparent !important;
    font-size: 20px !important;
    border-color: #ffffff !important;
    border-style: solid;
    border-width: 1px;
    color: #ffffff;
    height: 50px;
    width: 50%;
    margin: 20px;
    top: -100px;
    right: -150px;
    text-align: center;
    padding-bottom: 15px;
  }

  #baseFlexContainer button:hover {
    background-color: #ffffff !important;
    color: #333333 !important;
    box-shadow: 5px 5px #888888;
    }
    
    /* When a button is hovered change color of smallIcon */
    button:hover > .smallIcon {
      background-color: #ffffff !important;
      color: #333333;
      }

  .exploreButton {
     background-color: #35dabe !important;
     color: #ffffff;
     }
    
  .bookFlightButton {
      background-color: #1FC8DC !important;
      color: #ffffff;
      }

  .largeInput {
    font-family: 'Raleway', sans-serif;
    position: relative;
    border-radius: 15px !important;
    background-color: transparent !important;
    color: #333333;
    border-color: #ffffff !important;
    border-style: solid;
    border-width: 2px;
    font-size: 20px !important;
    height: 50px;
    width: 400px;
    margin: 20px;
    top: 50px;
  }

  .heroHeaderText {
    position: relative; 
    bottom: 150px;
    left: -30px !important;
  }

        /*--------------- Cards --------------- */

  .cardHeaderBlack {
    font-family: 'NexaRustSans', sans-serif;
    font-size: 30px;
    text-align: center;
    width: 100vw;
    position: relative;
    left: -50px;
    color: #333333;
  }

  .cardHeaderWhite {
    font-family: 'NexaRustSans', sans-serif;
    font-size: 30px;
    text-align: center;
    width: 100vw;
    position: relative;
    left: -50px;
  }

      /*--------------- Icons --------------- */

  .largeIcon {
    font-size: 100px;
    color: #ffffff;
    bottom: 50px;
    position: relative;
  }

  .smallIcon {
    font-size: 30px;
    color: #ffffff;
    padding-left: 10px;
    position: relative;
  }
  
  .navigationDrawerButton {
    position: relative;
    background-color: transparent !important;
    font-size: 20px !important;
    color: #FFFFFF;
    height: 50px;
    width: 50px;
    border: transparent;
    bottom: 200px;
    right: 0vw;
  }

    /*--------------- Menu --------------- */


  .slideOutHamburgerMenu {
    position: relative;
    bottom: 80px;
    right: 40px;
  }

    /*--------------- Containers --------------- */

  .cardContainer {
    height: 500px;
    width: 100vw;
    position: relative;
    bottom: 40px;
    overflow: hidden;
  }

  .descriptionContainerWhite {
    height: 500px;
    width: px;
    position: relative;
    bottom: 40px;
    background-color: #ffffff;
  }

  .descriptionContainerBlack {
    height: 500px;
    width: px;
    position: relative;
    bottom: 40px;
    background-color: #333333;
  }

  .videoContainer {
    width: 1920px;
    height: 1080px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -10;
    overflow: hidden;
  }

  .footerContainer {
    font-family: 'Raleway', sans-serif;
    background-color: #333333;
    color: #ffffff;
    width: 110vw;
    height: 20px;
    text-align: left;
    right: 10px;
    position: absolute;
    bottom: 0;
  }

  .navigationContainer {
    font-family: 'Raleway', sans-serif;
    position: relative;
    background-color: transparent;
    color: #ffffff;
    width: 40vw;
    height: 120px;
    text-align: left;
    bottom: 60px;
    right: 10px;
    overflow: hidden;
  }

  .menuContainer {
    position: relative;
    width: 110vw;
    background-color: #333333;
    height: 100%;
    top: -50px;
    right: 10px;
  }

  .userDivider {
    position: relative;
    background-color: #ffffff;
    width: 100vw;
    height: 1px;
    margin: 50px;
  }

    .regionsMenuHeader {
      font-family: 'Woodland', sans-serif;
      font-size: 100px;
      color: #333333;
    }

    .regionsMenuHeader:hover {
      color: #1FC8DC;

    }

    .card {
      font-family: 'Raleway', sans-serif;
      border-radius: 15px;
      width: 400px;
      height: 350px;
      background-color: transparent;
      color: #ffffff;
      position: absolute;
      left: 5vw;
      top: 150px;
      }

  
  .footerText {
    position: relative;
    right: 200px;
  }

  .headerTitle {
    font-family: 'Raleway', sans-serif;
  }


        /*--------------- Hamburger Slide Out Menu --------------- */

a {
color: #232323;
text-decoration: none;
transition: color 0.3s ease;
}

a:hover {
color: #87BAB3;
text-shadow: 2px 2px #333333 ;
}

#activateSideMenu {
display: block;
position: relative;
top: 50px;
left: 50px;
z-index: 1;
-webkit-user-select: none;
user-select: none;
}

#activateSideMenu input {
display: block;
width: 40px;
height: 32px;
position: absolute;
top: -7px;
left: -5px;
cursor: pointer;
opacity: 0;
z-index: 4; 
-webkit-touch-callout: none;
}

#activateSideMenu span {
background-color: #ffffff;
display: block;
width: 33px;
height: 4px;
margin-bottom: 5px;
position: relative;
border-radius: 3px;
z-index: 1;
transform-origin: 4px 0px;
transition: 
transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),        
background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),    
opacity 0.55s ease;
}

#activateSideMenu span:first-child {
transform-origin: 0% 0%;
}

#activateSideMenu span:nth-last-child(2) {
transform-origin: 0% 100%;
}

#activateSideMenu input:checked ~ span {
background-color: #333333;
opacity: 1;
transform: rotate(45deg) translate(-2px, -1px);
}

#activateSideMenu input:checked ~ span:nth-last-child(3) {
opacity: 0;
transform: rotate(0deg) scale(0.2, 0.2);
}

#activateSideMenu input:checked ~ span:nth-last-child(2) {
transform: rotate(-45deg) translate(0, -1px);
}

#sideMenu {
background-color: #ffffff;
position: absolute;
width: 100vw;
margin: -100px 0 0 -50px;
padding-top: 125px;
padding: 50px;
text-align: center;
font-size: 80px !important;
list-style-type: none;
-webkit-font-smoothing: antialiased;
transform-origin: 0% 0%;
transform: translate(-100%, 0);
transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#sideMenu li {
font-family: 'NexaRustSans', sans-serif;
padding: 10px 0;
font-size: 40px;
}

#activateSideMenu input:checked ~ ul {
transform: none;
}